.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    width: 900px;
    background: #202020;
    border-radius: 5px;
    border: 3px solid #101010;
    box-shadow: 0px 0px 15px #000;
}

.selected-slide {
    width: 900px;
    height: 400px;
}

.selected-room-image {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.content-error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
}