.banner-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}

.banner {
    width: 800px;
    height: 300px;
    border: 1px solid #000;
}

.banner-image {
    width: 800px;
    height: 300px;
}

.selected-room-image {
    height: 100%;
    width: 100%;
}