.filter-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 5px;
    background: #202020;
    border: 1px solid #000;
    box-shadow: 0px 0px 15px #000;
}

.stars-box {
    display: flex;
    align-items: center;
}

.star-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 .1rem 0 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: none;
}

.filter-stars {
    font-size: 28px;
    color: #00b4d8;
}

.filter-stars:hover {
    color: #ffd60a;
}

.guests-box {
    margin: .5rem;
}

.guests-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 5px;
    background: #2f3e46;
}

.guests-box {
    display: flex;
    align-items: center;
}

.increment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: 0 .5rem 0 .1rem;
    font-size: 14px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
    background: #202020;
    color: #ffffff;
}

.decrement-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin-right: .1rem;
    font-size: 14px;
    border: 1px solid #6c757d;
    border-radius: 5px;
    cursor: pointer;
    background: #202020;
    color: #ffffff;
}

.increment-btn:hover,
.decrement-btn:hover {
    background: #343434;
}

.guest-type {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.guests-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 35px;
    margin-left: .5rem;
    background: #101010;
    border-radius: 5px;
    border: 1px solid #6c757d;
}

.guest-number-counter {
    font-size: 14px;
    font-weight: 700;
    color: #00b4d8;
}

@media(max-width: 768px) {
    .filter-box {
        flex-direction: column;
        width: 450px;
        transition: 200ms ease-in-out;
        padding: .5rem .5rem .5rem .5rem;
    }

    .guests-control {
        width: 100%;
    }
}