* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ced4da;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  min-height: 100vh;
  padding: 75px 0 85px 0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}